<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/footer.css" rel="stylesheet">
    <title>Document</title>
    {literal}
    <style>
        header {
            position: relative;
            height: 40rem;
            display: flex;
            flex-direction: column;
        }

        #header_images {
            position: absolute;
            height: 100%;
            > * {
                height: 100%;
                > * {
                    height: 100%;
                    background-size: cover;
                    text-align: end;
                    display: flex;
                    > img {
                        height: 40%;
                        width: auto;
                        margin-top: auto;
                        margin-left: auto;
                    }
                }
            }
        }

        .category_card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-block: 2rem;

            >* {
                width: 15rem;
                height: 15rem;
                padding: 1rem;
                text-decoration: none;

                >* {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    transition: all 0.3s ease;
                    background-size: cover;
                    background-position: center;

                    >* {
                        margin: auto;
                        color: white;
                    }
                }

                >*:hover {
                    filter: opacity(80%);
                }
            }
        }

        #book_lists {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .book_list {
            width: 30rem;
            aspect-ratio: 3 / 2;
            padding: 2%;
        }

        .list_anchor {
            width: 100%;
            height: 100%;
            padding: 2%;
            display: block;
            color: inherit;
            transition: all 0.3s ease;
            text-decoration: none;
            border: solid 0.1rem gainsboro;
            border-radius: 1rem;
        }

        .list_anchor:active {
            box-shadow: 0.5rem 0.5rem 0.5rem gainsboro;
        }

        .list_anchor:hover {
            color: inherit;
            background-color: rgba(0, 0, 0, 0.1);
        }

        .book_list_title {
            height: 35%;
            display: flex;
            flex-direction: column;

            >* {
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-block: auto;
            }

            >h3 {
                font-size: 1.3rem;
                max-height: 3rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            >h5 {
                font-size: 1rem;
                color: dimgray;
                white-space: nowrap;
            }
        }

        .book_list_img {
            display: flex;
            align-items: center;
            height: 50%;
            overflow: hidden;

            >* {
                width: auto;
                height: 100%;
                padding-inline: 5%;
            }
        }

        .list_user {
            height: 15%;
            padding-top: 2%;
            display: flex;

            >* {
                align-items: center;
                display: flex;
            }
        }

        .list_user_info {
            width: 80%;

            >div {
                width: 10%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                display: inline-block;
            }

            >p {
                margin: 0 5%;
                width: 80%;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .list_user_thumbs {
            width: 7%;
            aspect-ratio: 1 / 1;
            margin-right: 3%;
        }

        .list_user_thumbs_num {
            width: 10%;
        }
    </style>
    {/literal}
</head>

<body>
    <header class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner" id="header_images">
            <div class="carousel-item active" data-bs-interval="4000">
                <div style="background-image: url('./img/top_image.jpg');">
                    <img src="./img/test.png">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light" id="nav_none_border_style">
            <a href="#" class="navbar-brand"><img src="./img/logo1.png" id="site_logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
                aria-controls="navmenu" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navmenu">
                <ul class="navbar-nav" id="nav_a_style">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#">サービス概要</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#">新規登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#">ログイン</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-lg-5 col-md-7 col-10 mx-auto">
            <div class="px-1" style="padding-top: 6rem;">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="キーワードを入力">
                    <button class="btn btn-outline-success bg-success text-white" type="button">&emsp;検索&emsp;</button>
                </div>
            </div>
        </div>
    </header>
    <div class="category_card">
        <a href="#">
            <div style="background-image: url('./img/horror.jpg');">
                <h3>ホラー</h3>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/horror.jpg');">
                <h3>ホラー</h3>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/horror.jpg');">
                <h3>ホラー</h3>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/horror.jpg');">
                <h3>ホラー</h3>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/horror.jpg');">
                <h3>ホラー</h3>
            </div>
        </a>
    </div>
    <div id="book_lists">
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5>太宰はいいぞー</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5>太宰はいいぞー</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5>太宰はいいぞー</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5>太宰はいいぞー</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer_nav">
            <ul class="footer_navi">
                <li><a href="overview.html" class="text-decoration-none">サイト概要</a></li>
                <li><a href="#" class="text-decoration-none">お問い合わせ</a></li>
                <li><a href="#" class="text-decoration-none">プライバシーポリシー</a></li>
                <li><a href="terms_of_service.html" class="text-decoration-none">利用規約</a></li>
            </ul>
            <small class="text-start copyright">© WiZ株式会社 team-D Co. Ltd. 2023</small>
        </div>
    </footer>
    {literal}
    <script src="./js/bootstrap.bundle.min.js"></script>
    {/literal}
</body>

</html>