/*コピーライトと利用規約部分の修正
舌部分は全部緑で覆う*/

.footer {
    background-color: #434343;
    text-align: center;
    padding: 1% 0 1% 0;
}

.footer_navi {
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.footer_navi li {
    display: inline-block;
    margin-left: 1%;
}

footer ul li a {
    color: #FFFFFF;
}

.copyright{
    color:#FFFFFF;
}