    @charset "utf-8";

    #nav_style {
        padding: 1vh 2vw;
        border-bottom: solid 1px darkgray;
        box-shadow: 0 0.4rem 0.4rem gainsboro;
        --input_font_size: 1vw;
        --anchor_font_size: 1.4vw;
        --logo_width: 13vw;
    }

    #nav_min_style {
        padding: 1vh 2vw;
        border-bottom: solid 1px darkgray;
        box-shadow: 0 0.4rem 0.4rem gainsboro;
        --input_font_size: 0.4vw;
        --anchor_font_size: 1vw;
        --logo_width: 6vw;
    }

    #nav_none_border_style {
        padding: 1vh 2vw;
        --input_font_size: 1vw;
        --anchor_font_size: 1.4vw;
        --logo_width: 13vw;
    }

    #site_logo { 
        height: auto; 
        width: var(--logo_width);
    }

    #nav_a_style> li > a {
        padding: 1.5vw !important;
        font-size: var(--anchor_font_size);
    }

    #nav_input {
        width: 50%;

        >* {
            display: flex;

            >* {
                background: none;
                outline: none;
                border: solid 0.01rem silver;
                font-size: var(--input_font_size);
            }

            >input {
                padding-left: 1vw;
                padding-block: 0.6vw;
                width: 80%;
                border-right: 0;
                border-radius: 100px 0 0 100px;
            }

            >button {
                width: 20%;
                border-radius: 0 100px 100px 0;
                transition: all 0.3s ease;
                background-color: green;
                color: white;
                font-weight: bold;
            }

            >button:hover {
                background-color: forestgreen;
            }
        }
    }

    /*
    ======== このヘッダー要素をコピーして使用してね♪ ===============================================================================================

    <nav class="navbar navbar-expand-sm navbar-light bg-light" id="nav_style">
        <a href="#" class="navbar-brand"><img src="./img/logo1.png" id="site_logo"/></a>
        <form id="nav_input">
            <div>
                <input type="search" placeholder="キーワードを入力" aria-label="Search">
                <button type="submit">検索</button>
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="navmenu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navmenu">
            <ul class="navbar-nav" id="nav_a_style">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">サービス概要</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">新規登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">ログイン</a>
                </li>
            </ul>
        </div>
    </nav>

    =================================================================================================================================================
    

    ======== ハンバーガーメニューが展開するために必要なJavascriptも忘れずに (body要素の中の一番下に書くのが好ましい) ================================
    
    <script src="./js/bootstrap.bundle.min.js"></script>
    
    =================================================================================================================================================
    */