.nav_a_style > a {
  padding: 0 2rem !important;
  font-size: 1.2rem;
  color: white;
}

.nav_input {
  width: 40%;
}

.nav_input > * {
  display: flex;
}

.nav_input > * > * {
  border: none;
  background: none;
  outline: none;
  border: solid 0.01rem silver;
}

.nav_input > * > input {
  padding-left: 10px;
  padding-block: 5px;
  width: 80%;
  border-right: 0;
  border-radius: 1rem 0 0 1rem;
}

.nav_input > * > button {
  width: 20%;
  border-radius: 0 1rem 1rem 0;
  background-color: green;
  color: white;
}

.nav_input > * > button:active {
  background-color: forestgreen;
  color: white;
}

.nav_border {
  border-bottom: solid 1px darkgray;
  box-shadow: 0 0.4rem 0.4rem gainsboro;
}

.a_style {
  font-size: 20px;
  color: rgb(90, 90, 90);
  text-decoration: none;
  position: relative;
  width: 162px;
  margin-left: 20%;
}

.a_style:hover {
  color: rgb(90, 90, 90);
}

.B_style {
  font-size: 30px;
  color: rgb(90, 90, 90);
  text-decoration: none;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.B_style:hover {
  background-color: #f0f0f0;
  border-radius: 0px 30px 30px 0px;
  color: rgb(90, 90, 90);
}

.child {
  float: left;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /*
  display: flex;
  flex-grow: 1;
  float: right;
  */
}

#items {
  width: 20%;
  display: flex;
  margin-top: 75px;
  box-shadow: 0 0 50px 1px rgba(147, 147, 151, 0.6);

  > div {
    width: 100%;
    margin-top: 100px;
    padding-right: auto;
  }
  position: fixed;
  top: 50px;
  /*left: 50px;*/
}

#Prf {
  width: 70%;
  float: right;
}

.profile_all {
  margin-top: 7%;
  margin-left: 400px;
}

.profile {
  margin-top: 4%;
  border: 0.5px solid #c0c0c0;
  border-radius: 30px;
  float: right;
  margin-right: 90px;
  padding: 30px;
}

.cp_iptxt {
  position: relative;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
}
.cp_iptxt input[type="text"] {
  font: 15px/24px sans-serif;

  width: 100%;
  letter-spacing: 1px;
  padding-left: 4em;
}
.cp_iptxt input[type="number"]:focus {
  outline: none;
}
.ef {
  padding: 4px 0;
  border: 0;
  border-bottom: 1px solid #1b2538;
  background-color: transparent;
}
.ef ~ .focus_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.6s;
  background-color: #000000;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
  width: 100%;
  transition: 0.6s;
}
.ef ~ label {
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 0;
  width: 100%;
  transition: 0.3s;
  letter-spacing: 0.5px;
  color: #aaaaaa;
}
.ef:focus ~ label,
.cp_iptxt.ef ~ label {
  font-size: 12px;
  top: -16px;
  transition: 0.3s;
  color: #c0c0c0;
}

.profile-icon {
  width: 116px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c0c0c0;
}
.icon_image {
  width: 116px;
  height: 116px;
  /*display: inline-block;*/
}

#profile-image {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  object-fit: cover;
}

#change-icon-link {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
}

.profile_comment {
  margin-top: 25px;
  border: 0.5px solid #c0c0c0;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.profile_nt {
  border: 0.5px solid #c0c0c0;
  border-radius: 30px;
}

textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 15px 20px;
  border-radius: 30px;
  width: calc(100% - 40px);
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(147, 147, 151, 0.6);
  transition: 0.3s;
}

.profile_category,
.profile_favoriteBook,
.book_count {
  padding: 20px;
  margin-bottom: 20px;
  border: 0.5px solid #c0c0c0;
  border-radius: 30px;
  text-align: center;
}

h1 {
  font-size: 25px;
  color: #c0c0c0;
}
/*--------------------------------------------------------*/
.tag input[type="radio"] {
  display: none;
}

.tag.selected {
  background-color: #ffcc00;
}

.tag-cloud {
  /*width: 520px;*/

  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  /* タグのスタイルを追加する場合はここに記述 */
}

.tag.active {
  background-color: #ffcc00;
}

.save-button {
  display: inline-block;
  margin-top: 25px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  /* ボタンのスタイルを追加する場合はここに記述 */
}

.save-button:hover {
  color: #fff;
  background: #5bc8ac;
  transition: 0.4s;
}
.save-button.clicked {
  background-color: #f2f2f2;
  color: #000000;
}

#selected-category,
#warning-message {
  margin-top: 25px;
}

/*--------------------------------------------------------*/

.book_count input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-top: 40px;
}

.book_count input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(147, 147, 151, 0.6);
  transition: 0.3s;
}

.count {
  margin-left: auto;
  margin-right: auto;
}
