<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/footer.css" rel="stylesheet">
    <link href="./css/book_list.css" rel="stylesheet">
    <title>Document</title>
    {literal}
    <style>
        header {
            height: 50rem;
            display: flex;
            flex-direction: column;
        }

        #header_images {
            height: 100%;

            >* {
                height: 100%;

                >* {
                    height: 100%;
                    background-size: cover;
                    position: relative;

                    >img {
                        height: 40%;
                        width: auto;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }

        .category_card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-block: 2rem;

            >* {
                width: 15rem;
                height: 15rem;
                padding: 1rem;
                text-decoration: none;

                >* {
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s ease;
                    background-size: cover;
                    background-position: center;
                    >* {
                        width: 100%;
                        height: 100%;
                        background-color: #00000050; 
                        display: flex;

                        >* {
                            margin: auto;
                            color: white;
                        }
                    }
                }

                >*:hover {
                    filter: opacity(80%);
                }
            }
        }

        #book_lists {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    </style>
    {/literal}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm" id="nav_none_border_style">
            <a href="#" class="navbar-brand"><img src="./img/logo1.png" id="site_logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
                aria-controls="navmenu" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navmenu">
                <ul class="navbar-nav" id="nav_a_style">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="overview.php">サービス概要</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="register_smarty.php">新規登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="user_login.php">ログイン</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="carousel slide" data-bs-ride="carousel" data-bs-pause="false"
            style="flex-grow: 1; position: relative;">
            <div class="carousel-inner" id="header_images">
                <div class="carousel-item active" data-bs-interval="4000">
                    <div style="background-image: url('./img/top_image.jpg');">
                        <img src="./img/test.png">
                    </div>
                </div>
            </div>
            <div class="w-100 position-absolute top-0 start-0" style="margin-top: 10%;">
                <div class="col-lg-5 col-md-7 col-10 m-auto">
                    <div class="input-group">
                        <form action="search_list.php" method="GET">
                        <input type="text" name="w" class="form-control form-control-lg" placeholder="キーワードを入力">
                        <input class="btn btn-outline-success bg-success text-white"
                            type="submit" value="検索"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="category_card">
        <a href="#">
            <div style="background-image: url('./img/horror.jpg');">
                <div>
                    <h3>ホラー</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/essei.jpg');">
                <div>
                    <h3>エッセイ</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/fantasy.jpg');">
                <div>                    
                    <h3>ファンタジー</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/history.jpg');">
                <div>
                    <h3>歴史</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/mistery.jpg');">
                <div>
                    <h3>ミステリー</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/sf.webp');">
                <div>
                    <h3>SF</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/zukan.jpg');">
                <div>
                    <h3>図鑑</h3>
                </div>
            </div>
        </a>

        <a href="#">
            <div style="background-image: url('./img/bisiness.jpg');">
                <div>
                    <h3>ビジネス</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/sankou.jpeg');">
                <div>
                    <h3>参考書</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/senmon.png');">
                <div>
                    <h3>専門書</h3>
                </div>
            </div>
        </a>
        <a href="#">
            <div style="background-image: url('./img/comic.jpg');">
                <div>
                    <h3>コミックス</h3>
                </div>
            </div>
        </a>
    </div>
    <h3 class="ms-5 mt-5">&lt;みんなのブックリスト&gt;</h3>
    <div id="book_lists">
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5><img src="./img/genre_icon.png">ホラー&emsp;<img src="./img/target_icon.png">子供向け</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <span>...+40</span>
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5><img src="./img/genre_icon.png">ホラー&emsp;<img src="./img/target_icon.png">子供向け</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <span>...+40</span>
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5><img src="./img/genre_icon.png">ホラー&emsp;<img src="./img/target_icon.png">子供向け</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <span>...+40</span>
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5><img src="./img/genre_icon.png">ホラー&emsp;<img src="./img/target_icon.png">子供向け</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <span>...+40</span>
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
        <div class="book_list">
            <a class="list_anchor" href="#">
                <div class="book_list_title">
                    <h3>太宰コレクション</h3>
                    <h5><img src="./img/genre_icon.png">ホラー&emsp;<img src="./img/target_icon.png">子供向け</h5>
                </div>
                <div class="book_list_img">
                    <img
                        src="http://books.google.com/books/content?id=AmQ1uQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <img
                        src="http://books.google.com/books/content?id=DYlaswEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
                    <span>...+40</span>
                </div>
                <div class="list_user">
                    <div class="list_user_info">
                        <div style="background-image: url('./img/user_icon.png');"></div>
                        <p>ミルクココア</p>
                    </div>
                    <img class="list_user_thumbs" src="./img/thumbsup.png" />
                    <div class="list_user_thumbs_num">
                        1000
                    </div>
                </div>
            </a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer_nav">
            <ul class="footer_navi">
                <li><a href="overview.php" class="text-decoration-none">サイト概要</a></li>
                <li><a href="inquiry.php" class="text-decoration-none">お問い合わせ</a></li>
                <li><a href="privacy_policy_smarty.php" class="text-decoration-none">プライバシーポリシー</a></li>
                <li><a href="terms_of_service.php" class="text-decoration-none">利用規約</a></li>
            </ul>
            <small class="text-start copyright">© WiZ株式会社 team-D Co. Ltd. 2023</small>
        </div>
    </footer>
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>