<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="./css/login.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light  px-3 py-2">
        <a href="#" class="navbar-brand "><img src="./img/logo1.png"
                style="display: flex; height: 4rem; width: auto;" /></a>
    </nav>

    <div class="form-wrapper" style="margin-top: 10%;">
        <h1>登録が完了しました</h1>
        <div class="mt-3">
            <h3>続けてログインを行ってください</h3>
        </div>
    </div>

    <div class="text-center">
        <div class="form-wrapper" style="margin-top: 10%;">
            <button class="btn btn-success">ログイン</button>
        </div>
    </div>

</body>
</html>