<!DOCTYPE html>
<html lang="ja">
<head>
  
    <meta charset="UTF-8">
    <link href="css/login.css" rel="stylesheet" >
    <link href="css/bootstrap.min.css" rel="stylesheet" >
       <link href="css/header.css" rel="stylesheet" >

        

    
</head>
<body>
  


<div class="row">

  <div class="low">
  <h1>新規登録</h1>
  </div>

  <div class="low">
  <h1>新規登録</h1>
  </div>

  <div class="low">
  <h1>新規登録</h1>
  </div>
  
</div>

</body>
</html>