@charset "utf-8";

body, h1, h2, h3, h4, h5, p {
	font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

li{
	list-style-type:decimal;
}

body {
	width: 100%; 
	background-image: url(../img/bg_main.png); 
	background-repeat: repeat; 
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5 {
	padding:0;
	margin: 0;
	color: #505050;
}


a:link {
	color: #0000FF;
}
a:visited {
	color: #0000FF;
}
a:hover {
	color: #CA0C18;
}

/*コンテナブロック*/
#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 860px; 
	font-size: 90%;
	text-align: left;
	line-height: 1.5;
	color: #333333;
	background-color: #ffffff;
}

#head {
	text-align: left;
	padding-top: 12px;
	padding-right: 0px;
	padding-left: 8px;
	padding-bottom: 14px;
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
}

#pan {
	height: 40px;
	padding-top: 12px;
	padding-right: 0px;
	padding-left: 8px;
	padding-bottom: 14px;
	margin: 0px;
}

#pan table {
	border: 1px solid #eee4aa;
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
	width: 840px;
	margin: 0px;
}

#pan tr {
	margin: 0px;
	padding: 0px;
}


#pan td {
	height: 30px;
	font-size: 85%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #fff4dd;
}

#pan td.right{
	font-size: 85%;
	text-align: right;
	margin: 0px;
	padding: 0px;
}

#headTitle {
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

#inquiry  {
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0px;
	padding: 0px;
}

#inquiry p {
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 4px;
	padding: 0px;
}

#inquiry form {
	margin: 0px;
	padding: 0px;
}


#inquiry .red {
	color: #FF0000; 
}

#inquiry .error {
	color: #FF0000; 
}


#inquiry .blue {
	color: #00cccc; 
}

#inquiry .dark_blue {
	color: #004488; 
}


/* class=center */
#inquiry .center {
	text-align: center;
}

#inquiry .right {
	text-align: right;
}

#inquiry table {
	width: 840px;
	margin-top: 6px;
	margin-left: 2px;
	margin-right: 0px;
	margin-bottom: 20px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	font-size: 90%;
}

#inquiry table .small {
	width: 660px;
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 6px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	background-color: #fff8ec;
	font-size: 90%;
}


#inquiry td {
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
	border-right: none;
	margin: 0px;
	padding-top: 4px; 
	padding-bottom: 4px; 
}

#inquiry td.nobottom{
	border: none;
	margin: 0px;
	padding-top: 4px; 
	padding-bottom: 4px; 
}

#inquiry input,textarea{
	font-size: 90%;
}

#inquiry select{
	font-size: 90%;
}

#inquiry th {
	border-top: none;
	border-bottom: none;
	border-left: 2px solid #F3F3F3; 
	border-right: none;
	background-color: #C0F3FF;
	font-weight: normal;
	padding-top: 4px; 
	padding-bottom: 4px; 
}

#inquiry th.nobottom {
	border-top: none;
	border-bottom: none;
	border-left: 2px solid #F3F3F3; 
	border-right: none;
	background-color: #C0F3FF;
	font-weight: normal;
	padding-top: 4px; 
	padding-bottom: 4px; 
}


