.nav_a_style > a {
  padding: 0 2rem !important;
  font-size: 1.2rem;
  color: white;
}

.nav_input {
  width: 40%;
}

.nav_input > * {
  display: flex;
}

.nav_input > * > * {
  border: none;
  background: none;
  outline: none;
  border: solid 0.01rem silver;
}

.nav_input > * > input {
  padding-left: 10px;
  padding-block: 5px;
  width: 80%;
  border-right: 0;
  border-radius: 1rem 0 0 1rem;
}

.nav_input > * > button {
  width: 20%;
  border-radius: 0 1rem 1rem 0;
  background-color: green;
  color: white;
}

.nav_input > * > button:active {
  background-color: forestgreen;
  color: white;
}

.nav_border {
  border-bottom: solid 1px darkgray;
  box-shadow: 0 0.4rem 0.4rem gainsboro;
}

/*左のメニューの文字*/
.a_style {
  font-size: 25px;
  color: rgb(90, 90, 90);
  text-decoration: none;
  position: relative;
  width: 162px;
  margin-left: 20%;
}

.a_style:hover {
  /*
  background-color: #f0f0f0;*/
  color: rgb(90, 90, 90);
}

.B_style {
  font-size: 30px;
  color: rgb(90, 90, 90);
  text-decoration: none;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.B_style:hover {
  background-color: #f0f0f0;
  border-radius: 0px 30px 30px 0px;
  color: rgb(90, 90, 90);
}

.child {
  float: left;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
}

/*メニュー*/
#items {
  width: 20%;
  display: flex;
  /*メニューの位置*/
  > div {
    /*margin: auto;*/
    width: 100%;
    margin-top: 100px;
    padding-right: auto;
    /*margin-left: 20%;*/
  }
}

#Prf {
  width: 80%;
}

.profile_all {
  margin-top: 7%;
  margin-left: 200px;
}

.profile {
  margin-top: 4%;
  margin-right: 20%;
  border: 0.5px solid #c0c0c0;
  border-radius: 30px;
}

.profile_comment {
  padding: 2% 15% 45% 30%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border: 0.5px solid #c0c0c0;
  border-radius: 30px;
}
