<!-- ぱんクズ　-->
<div id="pan">
<table >
<tr>
<td><a href="index.php">メインメニュー</a></td>
<td><a href="user_list.php">ユーザー管理</a></td>

<td><a href="book_list.php">本一覧</a></td>
<td><a href="booklist_list.php">リスト一覧</a></td>
<td><a href="phistory_list.php">売上照会</a></td>
<td><a href="inquiry_list.php">お問い合わせ管理</a></td>


<td><a href="login.php">ログアウト</a></td>
</tr>
</table>
</div>
ようこそ{$smarty.session.tmD2023_adm.admin_name}さん<br />
<!-- /ぱんクズ　-->
