<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link href="css/main.css" rel="stylesheet" type="text/css">
<title>メインメニュー</title>
<script type="text/javascript">
<!--


// -->
</script>
</head>
<body>
<!-- 全体コンテナ　-->
<div id="container">
{include file='./gmenu.tmpl'}
<div id="headTitle">
<h2>メインメニュー</h2>
</div>
<!-- コンテンツ　-->
<div id="inquiry">
<table >
<tr>
<td><a href="user_list.php">ユーザー管理</a></td>
</tr>
<tr>
<td><a href="book_list.php">本一覧</a></td>
</tr>
<tr>
<td><a href="booklist_list.php">リスト一覧</a></td>
</tr>
<tr>
<td><a href="phistory_list.php">売上照会</a></td>
</tr>
<tr>
<td><a href="inquiry_list.php">お問い合わせ管理</a></td>
</tr>


</table>
<p>&nbsp;</p>
</div>
<!-- /コンテンツ　-->
</div>
<!-- /全体コンテナ　-->
</body>
</html>

