<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content=" 5; url=index.php">
    <title>二重サブミットを検出しました</title>
</head>
<body>
    二重サブミットを検出しました。初めから登録し直してください。<br>
    5秒後にトップページに転送します...
</body>

</html>