<footer class="footer">
        <div class="footer_nav">
            <ul class="footer_navi">
                <li><a href="overview.php" class="text-decoration-none">サイト概要</a></li>
                <li><a href="inquiry.php" class="text-decoration-none">お問い合わせ</a></li>
                <li><a href="privacy_policy.php" class="text-decoration-none">プライバシーポリシー</a></li>
                <li><a href="terms_of_service.php" class="text-decoration-none">利用規約</a></li>
            </ul>
            <small class="text-start copyright">© WiZ株式会社 team-D Co. Ltd. 2023</small>
        </div>
    </footer>