<!-- ぱんクズ　-->
<div id="pan">
<table >
<tr>
<td><a href="index.php">メインメニュー</a></td>
<td><a href="prefecture_list.php">都道府県管理</a></td>
<td><a href="member_list.php">メンバー管理</a></td>
<td><a href="member_list_smarty.php">メンバー管理(Smarty版)</a></td>
</tr>
</table>
</div>
<!-- /ぱんクズ　--> 
