<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/main.css" rel="stylesheet" type="text/css">
<title>メンバーメインメニュー</title>
<script type="text/javascript">
<!--


// -->
</script>
</head>
<body>
<!-- 全体コンテナ　-->
<div id="container">
<div id="headTitle">
<h2>メンバーメインメニュー</h2>
ようこそ{$smarty.session.tmY2023_mem.member_name}さん<br />
</div>
<!-- コンテンツ　-->
<div id="inquiry">
<a href="member_login.php">ログアウト</a>
<br />
<p>&nbsp;</p>
</div>
<!-- /コンテンツ　-->
</div>
<!-- /全体コンテナ　-->
</body>
</html>

