<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./img/bungo_tabicon.png">
    <link href="./css/login.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <title>お問い合わせフォーム</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light  px-3 py-2">
        <a href="#" class="navbar-brand "><img src="./img/logo1.png"
                style="display: flex; height: 4rem; width: auto;" /></a>

    </nav>

    <div class="form-wrapper" style="margin-top: 10%;">
        <h1>送信が完了しました</h1>
    </div>

    <div class="text-center">
        <div class="form-wrapper" style="margin-top: 10%;">
            <button onclick="location.href='index.php'" class="btn btn-success">トップ</button>
        </div>
    </div>

</body>

</html>