<div id="items" class="col-3">
    <div>
        <div class="B_style">
            <a class="a_style" href="myPage.php">プロフィール</a><br />
        </div>

        <div class="B_style">
            <a class="a_style" href="myPage_regist.php">投稿したリスト</a><br />
        </div>

        <div class="B_style">
            <a class="a_style" href="myPage_favorite.php">いいね</a><br />
        </div>

        <div class="B_style">
            <a class="a_style" href="myPage_conf.php">個人情報</a><br />
        </div>

        <div class="B_style">
            <a class="a_style" href="myPage_purchase.php">注文履歴</a>
        </div>
        <div class="B_style">
            <a class="a_style" href="myPage.php?lo">ログアウト</a>
        </div>
    </div>
</div>