<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="login.css" rel="stylesheet" >
    <link href="./css/bootstrap.min.css" rel="stylesheet" >
    <link href="./css/header.css" rel="stylesheet">
    
</head>
<body>
  <nav class="navbar navbar-expand-sm" id="nav_style">
    <a href="index.php" class="navbar-brand"><img src="./img/logo1.png" id="site_logo" /></a>
  </nav>

<div class="form-wrapper">

  
  <div class="form-footer">
    
  </div>
</div>
</body>
</html>