<div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="t_btn">ターゲット</button>
    <ul class="dropdown-menu" id="t_dropmenu">
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(2)" id="tl_2">小～中学生向け</a></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(3)" id="tl_3">高～大学生向け</a></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(4)" id="tl_4">新社会人向け</a></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(5)" id="tl_5">社会人向け</a></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(6)" id="tl_6">シニア世代向け</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(7)" id="tl_7">初心者向け</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(8)" id="tl_8">感動したい人向け</a></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(9)" id="tl_9">癒されたい人向け</a></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(10)" id="tl_10">励まされたい人向け</a></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(11)" id="tl_11">発見したい人向け</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item t_anker" href="javascript:void(0)" onclick="selectTarget(1)" id="tl_1">その他</a></li>
    </ul>
</div>