<!-- ぱんクズ　-->
<div id="pan">
<table >
<tr>
<td><a href="index.php">メインメニュー</a></td>
<td><a href="member_list_smarty.php">メンバー管理</a></td>
<td><a href="admin_list.php">管理者管理</a></td>
<td><a href="prefecture_list.php">都道府県管理</a></td>
<td><a href="login.php">ログアウト</a></td>
</tr>
</table>
</div>
ようこそ{$smarty.session.tmY2023_adm.admin_name}さん<br />
<!-- /ぱんクズ　-->
