<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link href="css/main.css" rel="stylesheet" type="text/css">
<title>メインメニュー</title>
<script type="text/javascript">
<!--


// -->
</script>
</head>
<body>
<!-- 全体コンテナ　-->
<div id="container">
{include file='./gmenu.tmpl'}
<div id="headTitle">
<h2>メインメニュー</h2>
</div>
<!-- コンテンツ　-->
<div id="inquiry">
<table >
<tr>
<td><a href="member_list_smarty.php">ユーザー管理</a></td>
</tr>
<tr>
<td><a href="admin_list.php">管理者管理</a></td>
</tr>
<tr>
<td class="nobottom"><a href="prefecture_list.php">都道府県管理</a></td>
</tr>
<tr>
<td><a href="#">売上照会</a></td>
</tr>
<tr>
<td><a href="#">お問い合わせ履歴</a></td>
</tr>


</table>
<p>&nbsp;</p>
</div>
<!-- /コンテンツ　-->
</div>
<!-- /全体コンテナ　-->
</body>
</html>

