<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link href="css/main.css" rel="stylesheet" type="text/css">
<title>ユーザー詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}


// -->
</script>
{/literal}
</head>
<body>
<!-- 全体コンテナ　-->
<div id="container">
{include file='./gmenu.tmpl'}
<div id="headTitle">
<h2>ユーザー詳細</h2>
</div>
<!-- コンテンツ　-->
<div id="inquiry">
{if $err_flag != '' }
<p>{$err_flag}</p>
{/if}
<form name="form1" action="{$smarty.server.PHP_SELF}" method="post" enctype="multipart/form-data" >
<a href="member_list_smarty.php{$page}">一覧に戻る</a><br />
<span class="red">＊</span>は必須項目
<table>
<tr>
<th>ID</th>
<td width="70%">{$member_id_txt}</td>
</tr>
<tr>
<th>ユーザー名<span class="red">＊</span></th>
<td width="70%"><input type="text" name="member_name" size="50" value="{$smarty.post.member_name|escape}" />
{if isset($err_array.member_name) }<br /><span class="red">{$err_array.member_name}</span>{/if}
</td>
</tr>

<tr>
<th>メールアドレス</th>
<td width="70%"><input type="text"   name="member_login" value="{$smarty.post.member_login|escape}"></td>
</tr>

<tr>
<th>パスワード（変更するとき入力）</th>
<td width="70%"><input type="password"  name="enc_password" value="{$smarty.post.enc_password|escape}" ></td>
</tr>
<tr>
<th>パスワード確認（変更するとき入力）</th>
<td width="70%"><input type="password"  name="enc_password_chk" value="{$smarty.post.enc_password_chk|escape}" ></td>
</tr>

<tr>
<th>ユーザーアイコン</th>
<td width="70%">
{if $smarty.post.main_image != ''}
<img src="{$updir}{$smarty.post.main_image}" width="200px" /><br />
{/if}
<input type="hidden" name="main_image" value="{$smarty.post.main_image|escape}" />
<input type="file"  name="main_image" >
</td>
</tr>
<tr>
<th>都道府県<span class="red">＊</span></th>
<td width="70%">
<select name="prefecture_id">
<option value="0" >選択してください</option>
{foreach from=$prefecture_rows key=k item=value}
{if $value.prefecture_id == $smarty.post.prefecture_id}
<option value="{$value.prefecture_id}" selected="selected">{$value.prefecture_name}</option>
{else}
<option value="{$value.prefecture_id}" >{$value.prefecture_name}</option>
{/if}
{/foreach}
</select>
{if isset($err_array.prefecture_id) }<br /><span class="red">{$err_array.prefecture_id}</span>{/if}
</td>
</tr>
<tr>
<th>市区郡町村以下<span class="red">＊</span></th>
<td width="70%"><input type="text" name="member_address" size="80" value="{$smarty.post.member_address|escape}" />
{if isset($err_array.member_address) }<br /><span class="red">{$err_array.member_address}</span>{/if}
</td>
</tr>
<tr>
<th>性別<span class="red">＊</span></th>
<td width="70%">
<input type="radio" name="member_gender" value="1" {if $smarty.post.member_gender == 1 }checked="checked"{/if} />男性&nbsp;
<input type="radio" name="member_gender" value="2" {if $smarty.post.member_gender == 2 }checked="checked"{/if} />女性
{if isset($err_array.member_gender) }<br /><span class="red">{$err_array.member_gender}</span>{/if}
</td>
</tr>
<tr>
<th>好きな果物</th>
<td width="70%">
{foreach from=$fruits_rows key=k item=value}
{if $value.check == 1}
<input type="checkbox" name="fruits[]" value="{$value.fruits_id}" checked="checked" />{$value.fruits_name}&nbsp;
{else}
<input type="checkbox" name="fruits[]" value="{$value.fruits_id}" />{$value.fruits_name}&nbsp;
{/if}
{/foreach}
</td>
</tr>
<tr>
<th class="bobottom">コメント</th>
<td width="70%" class="bobottom">
<textarea name="member_comment" cols="70" rows="10">{$smarty.post.member_comment|escape}</textarea>
</td>
</tr>
</table>
<input type="hidden" name="func" value="" />
<input type="hidden" name="param" value="" />
<input type="hidden" name="member_id" value="{$member_id}" />
<p class="center">
<input type="button"  value="確認" onClick="javascript:set_func_form('conf','')"/>
</p>
</form>
</div>
<!-- /コンテンツ　-->
</div>
<!-- /全体コンテナ　-->
</body>
</html>
