<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link href="css/main.css" rel="stylesheet" type="text/css">
<title>【管理画面】都道府県詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}


// -->
</script>
{/literal}
</head>
<body>
<!-- 全体コンテナ　-->
<div id="container">
{include file='./gmenu.tmpl'}
<div id="headTitle">
<h2>都道府県詳細</h2>
</div>
<!-- コンテンツ　-->
<div id="inquiry">
{if $err_flag != '' }
<p >{$err_flag}</p>
{/if}
<form name="form1" action="prefecture_detail.php" method="post" >
<a href="prefecture_list.php">一覧に戻る</a>
<table>
<tr>
<th>ID</th>
<td width="70%">{$prefecture_id_txt}</td>
</tr>
<tr>
<th>都道府県名</th>
<td width="70%"><input type="text" name="prefecture_name" value="{$prefecture_name}" /></td>
</tr>
</table>
<input type="hidden" name="func" value="conf" />
<input type="hidden" name="param" value="" />
<input type="hidden" name="prefecture_id" value="{$prefecture_id}" />
<p class="center">
<input type="submit"  value="確認" />
</p>
</form>
</div>
<!-- /コンテンツ　-->
</div>
<!-- /全体コンテナ　-->
</body>
</html>
