<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link href="css/main.css" rel="stylesheet" type="text/css">
<title>【管理画面】都道府県一覧</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}

function del_func_form(pm,mess){
	var message = "本当に\r\n";
	message += mess;
	message += "\r\nを削除しますか？";
	if(confirm(message)){
		document.form1.target = "_self";
		document.form1.func.value = 'del';
		document.form1.param.value = pm;
		document.form1.submit();
	}
}
// -->
</script>
{/literal}
</head>
<body>
<!-- 全体コンテナ　-->
<div id="container">

{include file='./gmenu.tmpl'}

<div id="headTitle">
<h2>都道府県一覧</h2>
</div>
<!-- コンテンツ　-->
<div id="inquiry">
{if $ERR_STR != '' }
<p>{$ERR_STR}</p>
{/if}
<form name="form1" action="{$tgt_uri}" method="post" >
<p><a href="prefecture_detail.php">新規</a></p>
<p>{$pager_arr}</p>
<table>
<tr>
<th>都道府県ID</th>
<th>都道府県名</th>
<th>操作</th>
</tr>
{foreach from=$rows key=k item=value}
<tr>
<td width="20%" class="center">
{$value.prefecture_id}
</td>
<td width="65%" class="center">
<a href="prefecture_detail.php?pid={$value.prefecture_id}">{$value.prefecture_name}</a>
</td>
<td width="15%" class="center">
<input type="button" value="削除確認" onClick="javascript:del_func_form({$value.prefecture_id},'【{$value.prefecture_name}】')" /></td>
</tr>
{foreachelse}
<tr>
<tr><td colspan="3" class="nobottom">都道府県が見つかりません</td></tr>
</tr>
{/foreach}
</table>
<input type="hidden" name="func" value="" />
<input type="hidden" name="param" value="" />
</form>
<p>&nbsp;</p>

</div>
<!-- /コンテンツ　-->
</div>
<!-- /全体コンテナ　-->
</body>
</html>
